<div class="profession">
  <div class="overlay-loader" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
  <h1 class="profession__title">
    Profesiones
  </h1>
  <mat-dialog-content>
    <div class="profession__content">
      <div class="profession__content-person">
        <div class="list" *ngIf="personProfessionList.length > 0">
          <mat-card class="profession mat-elevation-z4" *ngFor="let pp of personProfessionList">
            <div class="img">
              <img src="./../../../../../assets/img/svg/work_outline.svg" alt="profession">
            </div>
            <div class="value">{{ pp?.professionName }}</div>
            <button mat-icon-button color="warn" (click)="onDeletePersonProfession(pp)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
        <div class="no-list" *ngIf="personProfessionList.length === 0">
          <div>
            <h2>No tiene profesiones registradas aún.</h2>
          </div>
        </div>
      </div>
      <div class="profession__content-profession">
        <div class="list" *ngIf="professionList.length > 0">
          <ng-template ngFor let-profession [ngForOf]="professionList">
            <mat-card class="profession" [ngClass]="{ 'mat-elevation-z4': !hasProfession(profession.id), 'disabled': hasProfession(profession.id) }">
              <div class="img">
                <img src="./../../../../../assets/img/svg/work_outline.svg" alt="profession">
              </div>
              <div class="value">{{ profession?.name }}</div>
              <button mat-icon-button color="primary" (click)="onAddPersonProfession(profession.id)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card>
          </ng-template>
        </div>
        <div class="no-list" *ngIf="professionList.length === 0">
          <div>
            <h2>No hay profesiones para registrar.</h2>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="profession__actions">
      <button class="custom__button" mat-dialog-close mat-raised-button>
        Cerrar
      </button>
    </div>
  </mat-dialog-actions>
</div>
