<div class="hobby">
  <div class="overlay-loader" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
  <h1 class="hobby__title">
    Hobbies
  </h1>
  <mat-dialog-content>
    <div class="hobby__content">
      <div class="hobby__content-person">
        <div class="list" *ngIf="personHobbyList.length > 0">
          <mat-card class="hobby mat-elevation-z4" *ngFor="let ph of personHobbyList">
            <div class="img">
              <img src="./../../../../../assets/img/svg/favorite_border.svg" alt="hobby">
            </div>
            <div class="value">{{ ph?.hobbyName }}</div>
            <button mat-icon-button color="warn" (click)="onDeletePersonHobby(ph)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
        <div class="no-list" *ngIf="personHobbyList.length === 0">
          <div>
            <h2>No tiene hobbies registrados aún.</h2>
          </div>
        </div>
      </div>
      <div class="hobby__content-hobby">
        <div class="list" *ngIf="hobbyList.length > 0">
          <ng-template ngFor let-hobby [ngForOf]="hobbyList">
            <mat-card class="hobby" [ngClass]="{ 'mat-elevation-z4': !hasHobby(hobby.id), 'disabled': hasHobby(hobby.id) }">
              <div class="img">
                <img src="./../../../../../assets/img/svg/favorite_border.svg" alt="hobby">
              </div>
              <div class="value">{{ hobby?.name }}</div>
              <button mat-icon-button color="primary" (click)="onAddPersonHobby(hobby.id)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card>
          </ng-template>
        </div>
        <div class="no-list" *ngIf="hobbyList.length === 0">
          <div>
            <h2>No hay hobbies para registrar.</h2>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="hobby__actions">
      <button class="custom__button" mat-dialog-close mat-raised-button>
        Cerrar
      </button>
    </div>
  </mat-dialog-actions>
</div>
