<div class="admin-table">
  <mat-form-field class="custom__input">
    <mat-label>Buscador</mat-label>
    <input matInput (keyup)="adminTableFilter($event)" #input placeholder="Ejemplo: 1, Nombre...">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
        <mat-cell class="cell-row" *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell class="cell-row" mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell class="cell-row" mat-cell *matCellDef="let element">
          <div class="actions">
            <button class="update" mat-mini-fab (click)="onUpdateAdminItem(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="onDeleteAdminItem(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 15]">
    </mat-paginator>
  </div>
</div>
