@import './../../../../styles.scss';

.admin-item {

  @include e('img') {
    text-align: center;
  }

  @include e('title') {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  @include e('form') {
    margin-bottom: 20px;
  }

  @include e('actions') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
  }
}
