@import './../../../../styles.scss';

.dashboard {

  margin-left: 20px;
  margin-right: 20px;

  @include e('title') {
    display: flex;

    @include gc('text') {
      font-family: 'Ubuntu';
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  @include e('content') {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;

    @include mq-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include gc('main') {
      margin-top: 20px;
    }
  }
}
